@import url('https://fonts.googleapis.com/css2? famille=Raleway:wght@100&display=swap');
@import url('http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800|Raleway:400,200,100,300,500,600,700,800,900');
:root {
    --color-one: #ffffff;
    --color-two: #27242b;
    --color-three: #3d9f96;
    --color-four: #322f36;
    --color-five: #eeeeee;
    --color-six: #f9f9f9;
    --color-seven: #ababab;
    --color-eight: #7e7e7e;
}

body {
    font-family: 'Raleway', 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 0.87rem;
}

header {
    border-bottom: 1px solid rgb(255, 255, 255, 0.08);
}

.fond {
    background-color: var(--color-two);
}

.couleur {
    color: var(--color-three);
}

@media screen and (max-width: 767.9px) {
    body {
        font-size: 0.77rem;
    }
    .promo {
        font-size: 1.3rem;
        font-weight: normal;
    }
}

.bouton {
    color: var(--color-one);
    opacity: 0.85;
    width: 190px;
    margin: 1.5rem 0 5rem;
    padding: 15px;
    border: 2px solid var(--color-three);
    border-radius: 35px;
    background-color: var(--color-three);
}

.fond1 {
    background-color: var(--color-five);
}

#awesome {
    background-color: lightyellow;
    background-image: url("/assets/img/map_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#absi {
    top: 37%;
    left: 2%;
}

.fosi {
    font-size: 0.77rem;
}

.fosa {
    font-size: 1.4vw;
}

.foso {
    font-size: 1.3vw;
}