body {
    width: 65vw;
    margin: 0 auto;
    font-size: 0.7em;
    text-align: center;
}

body>header>nav.container.bg-dark.nav.justify-content-end.text-center>a {
    padding: 26px 16px;
    color: #fff;
}

body>header>nav.container.bg-dark.nav.justify-content-end.align-items-center.text-center>a#sayn.nav-link.col-4 {
    padding: 20px o;
}

#sayna {
    width: 60%;
}

#get {
    text-decoration: underline;
    color: #3d9f96;
}

main>div.text-center.bg-dark.text-white>figure>img {
    margin: 0;
    padding-top: 3rem;
}

h6 {
    margin: 0;
    padding: 2rem 0;
    color: #3d9f96;
}

main>div.col.bg-light.text-start {
    font-size: 1.5rem;
}

#buy input {
    color: #fff;
    width: 100px;
    margin: 1rem 0 4rem;
    padding: 10px;
    border: 2px solid #3d9f96;
    border-radius: 20px;
    background-color: #3d9f96;
}

#img600 {
    width: 70%;
}

main>div.container.bg-dark.text-center>figure {
    margin: 0;
}

main>div.container.bg-light>div.row.pt-5.pb-3.text-center>figure {
    margin: 0;
    padding: 0;
}

main>div.container.bg-light>div.row.pt-5.pb-3.text-center {
    padding-left: 9rem;
    padding-right: 9rem;
}

@media (max-width: 575.98px) {
    main>div.container.bg-light>div.row.pt-5.pb-3.text-center {
        flex-direction: column;
    }
}

main>div.container.text-center.bg-light>h6 {
    padding: 0.5rem 0 4rem;
}

@media (max-width: 575.98px) {
    main>div.container.pt-5>div.row.justify-content-center {
        flex-direction: column;
    }
}

#see input {
    color: #fff;
    width: 100px;
    margin: 1rem 0 4rem;
    padding: 10px;
    border: 2px solid #3d9f96;
    border-radius: 20px;
    background-color: #3d9f96;
}

#visit input {
    color: #fff;
    width: 100px;
    margin: 1rem 0 4rem;
    padding: 10px;
    border: 2px solid #3d9f96;
    border-radius: 20px;
    background-color: #3d9f96;
}

footer>div.container.pt-5>div.row>div.col>img {
    width: 40%;
}