body {
    /*border: 3px solid green;*/
    width: 900px;
    margin: 0 auto;
}

header {
    height: 750px;
    color: #fff;
    background-color: #27242b;
}

#rowb,
#deux,
#trois,
#quatre,
#six,
#huit,
#dix,
#douze,
main>div.row {
    /*border: 2px solid blue;*/
    display: flex;
    align-items: center;
    justify-content: center;
}

#un {
    margin-top: -255px;
}

#row {
    display: flex;
    margin: 0;
}

#trois {
    padding: 30px 0 0px 0;
}

#trois #row figure {
    margin: 1em 1em;
}

.grid-container {
    margin: auto;
    display: grid;
    grid-template-columns: 200px 125px 300px 275px;
}

.row {
    display: flex;
    width: 900px;
}

header>div>figure {
    margin: 158px 275.5px 0 275.5px;
}

header div.row p {
    width: 25%;
}

.grid-container>div {
    /*border: 2px solid red;*/
    /*text-align: center;*/
}

.item {
    padding: 20px 0;
}

.item {
    text-align: right;
}

#item1 {
    padding: 15px 0;
    text-align: center;
}

#item2 {
    text-decoration: underline;
    padding: 20px 20px 20px 71px;
}

.grid-container div img {
    width: 60%;
}

#troisa {
    /*border: 2px solid red;*/
    background-color: #f7f7f7;
}

.center {
    padding: 0 0 40px 0;
    text-align: center;
}

#center {
    /*border: 2px solid blue;*/
    height: 300px;
    text-align: center;
    background-color: #27242b;
}

#center figure {
    margin: 40px 0;
}

#center p {
    color: #FFF;
}

.center h3,
#center h3 {
    /*border: 5px solid red;*/
    color: #3d9f96;
    margin: 30px;
}

#rowb {
    padding-bottom: 70px;
}

.rowa {
    display: flex;
    /*width: 700px;
    padding-bottom: 50px;*/
}

#buy {
    color: #fff;
    width: 100px;
    margin: auto;
    padding: 10px;
    border: 2px solid #3d9f96;
    border-radius: 20px;
    background-color: #3d9f96;
}

#speco {
    height: 30px;
    font-size: 30px;
    padding: 30px 158px;
}

#speco,
#quatre {
    background-color: #f7f7f7;
}

#quatre {
    padding: 0 0 80px 0;
}

#cinq {
    display: flex;
}

.cinq {
    display: flex;
    width: 580px;
}

#six {
    padding: 50px 0 35px 0;
}

main>#quatre>#cinq>figure {
    margin: 16px 8px;
}

main>h1 {
    margin: 25px 160px;
}

#sept {
    margin-left: 14px;
}

#aene {
    margin-bottom: 50px;
}

#see {
    color: #fff;
    width: 100px;
    text-align: center;
    margin: auto;
    padding: 10px;
    border: 2px solid #3d9f96;
    border-radius: 20px;
    background-color: #3d9f96;
}

#huit {
    padding: 0 0 20px 0;
}

#neuf {
    display: flex;
    width: 650px;
}

#respons {
    margin-bottom: 50px;
}

#donec {
    margin-bottom: 50px;
}

#visit {
    color: #fff;
    width: 100px;
    margin: auto;
    padding: 10px;
    border: 2px solid #3d9f96;
    border-radius: 20px;
    background-color: #3d9f96;
}

#neuf div {
    margin-left: 30px;
}

#dix .row div {
    /*border: 2px solid red;*/
}

#dix .row .dix img {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 135px;
}

#dix .row .dix p {
    width: 300px;
    margin-top: 0px;
    margin-right: 0;
    margin-bottom: 8px;
    margin-left: 135px;
}

#dix {
    background-color: #f7f7f7;
    padding: 20px 0 0 0;
}

.dix {
    width: 450px;
}

.onze {
    width: 114px;
}

#onze {
    width: 300px;
    padding-left: 35px;
}

.onze p,
.onze h2 {
    margin-left: 17px;
}

footer div.row div img {
    width: 40%;
}

#treize {
    /*width: 340px;*/
    display: flex;
}

#treize figure {
    margin: 16px 20px;
}

#treize figure img {
    width: 19px;
    height: 19px;
    width: 100%;
}

#douze .row div {
    /*border: 2px solid red;*/
}

#douze p {
    width: 450px;
    margin-left: 135px;
}